tqdm
fastprogress
pympler
frozendict
bidict
funcy
toolz
expression
algebraic-data-types
classes
returns
more-itertools
pyrsistent
immutables
glom
mypy<0.920
mypy-extensions
phantom-types
beartype
python-lsp-server[all]
pylsp-mypy
pylsp-rope
pyls-isort
pytest
pytest-mypy
pytest-mypy-plugins
ipytest
hypothesis
z3-solver
python-igraph
pydot
pygraphviz
pycairo
matplotlib
numpy
scipy
cvc5
